<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.duy.calculator">

    <!--for firebase-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!--for OCR-->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera.flash" />

    <!--for save history-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!--for math voice-->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />


    <application
        android:name=".CalcApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme.Light.NoActionBar">

        <activity
            android:name=".ActivitySplashScreen"
            android:noHistory="true"
            android:theme="@style/AppTheme.Light.NoActionBar.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.APP_CALCULATOR" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".version_old.activities.BasicCalculatorActivity"
            android:configChanges="keyboardHidden|screenSize"
            android:theme="@style/AppTheme.Light.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden">

            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <data android:mimeType="text/plain" />
            </intent-filter>

        </activity>
        <activity
            android:name=".version_old.converter.UnitConverterParentAcitvity"
            android:configChanges="keyboardHidden|screenSize"
            android:launchMode="singleTask" />

        <activity android:name=".version_old.converter.UnitConverterChildActivity" />
        <activity android:name=".SettingsActivity" />
        <activity
            android:name=".version_old.geom2d.GeometryDescartesActivity"
            android:configChanges="keyboardHidden|screenSize" />

        <activity
            android:name=".version_old.activities.BaseCalculatorActivity"
            android:configChanges="keyboardHidden|screenSize" />
        <activity
            android:name=".helper.AppAboutActivity"
            android:label="@string/title_activity_app_about" />
        <activity
            android:name=".version_old.activities.MatrixCalculatorActivity"
            android:configChanges="keyboardHidden|screenSize" />

        <activity
            android:name=".version_old.activities.SolveEquationActivity"
            android:configChanges="keyboardHidden|screenSize" />
        <activity
            android:name=".version_old.activities.SimplifyEquationActivity"
            android:configChanges="keyboardHidden|screenSize" />
        <activity
            android:name=".version_old.activities.FactorExpressionActivity"
            android:configChanges="keyboardHidden|screenSize" />
        <activity
            android:name=".version_old.activities.DerivativeActivity"
            android:configChanges="keyboardHidden|screenSize" />

        <activity
            android:name=".version_old.activities.StatisticActivity"
            android:configChanges="keyboardHidden|screenSize" />
        <activity
            android:name=".version_old.activities.ExpandAllExpressionActivity"
            android:configChanges="keyboardHidden|screenSize" />
        <activity
            android:name=".view.MathViewActivity"
            android:configChanges="keyboardHidden|screenSize" />
        <activity android:name=".version_old.graph.GraphActivity" />
        <activity
            android:name=".version_old.graph.GraphAddFunction"
            android:label="@string/add_function" />
        <activity android:name=".helper.HelperActivity" />
        <activity android:name=".history.HistoryActivity" />
        <activity
            android:name=".version_old.system_equation.SystemEquationActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".define.DefineVariableActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".version_old.activities.LimitActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".version_old.activities.IntegrateActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".version_old.activities.PrimitiveActivity"
            android:launchMode="singleTask" />
        <activity android:name=".helper.LicenseActivity" />
        <activity android:name=".helper.InfoLicenseActivity" />
        <activity
            android:name=".version_old.number_theory.FactorPrimeActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".version_old.number_theory.PermutationActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".version_old.number_theory.ModuleActivity"
            android:launchMode="singleTask" />

        <activity
            android:name=".dev.CommandActivity"
            android:label="@string/cmd"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".dev.StepByStepActivity"
            android:label="@string/step_by_step"
            android:theme="@style/Theme.AppCompat" />

        <activity
            android:name="com.example.duy.calculator.hand_write.HandCalculatorActivity"
            android:launchMode="singleTask" />
        <activity
            android:name="com.example.duy.calculator.hand_write.HandGeometryActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".version_old.trigonometry.TrigActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".version_old.number_theory.NumberActivity"
            android:launchMode="singleTask" />

    </application>
</manifest>